@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'linked';
  src: url('@/assets/fonts/linked.otf');
}

@font-face {
  font-family: 'space';
  src: url('@/assets/fonts/space.ttf');
}

@font-face {
  font-family: 'chalmone';
  src: url('@/assets/fonts/chalmone.ttf');
}

@font-face {
  font-family: 'organical';
  src: url('@/assets/fonts/organical.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body{
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: space;
}

.router-link-active{
  @apply bg-indigo-600 text-white
}




